.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 320px;
    z-index: 1;
    background: linear-gradient(270deg, rgb(13 110 253 / 25%), #4d95fe);
    border-right: 1px solid #e5e1e1;
    box-shadow: 0 3px 10px rgb(0 0 0 / 20%);
}

.sidebar-title {
    display: flex;
    align-items: center;
    height: 120px;
    font-size: 2.5rem;
    font-weight: 600;
    border-bottom: 0.5px solid #e5e1e1;
    color: black;
    justify-content: center;
}

.sidebar-title span {
    font-size: 2.5rem;
    padding-right: 1rem;
}

.sidebar-menu-item {
    display: flex;
    align-items: center;
    place-content: flex-start;
    padding: 1rem 3rem;
    font-size: 1.25rem;
    font-weight: 400;
    color: #ffffff;
    gap: 0.5rem;
    white-space: nowrap;
}

.sidebar-menu-item:first-child {
    background: #fff;
    color: #000;
    box-shadow: 0 3px 10px rgb(0 0 0 / 20%);
}

.sidebar-menu-item:hover {
    background: #ffffff;
    box-shadow: 0 3px 10px rgb(0 0 0 / 20%);
    cursor: pointer;
    color: black;
}

.menu-contents {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: calc(100% - 120px);
}

/* logout modal styles */

.logout-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}

.logout-content .material-icons {
    font-size: 6rem;
}

.logout-content .confirm-text {
    font-size: 1.5rem;
}

.logout-confirm {
    margin-right: 1rem;
}

/* for medium screens */

@media screen and (max-width: 960px) {
    .sidebar {
        width: 100%;
        height: auto;
        display: flex;
        justify-content: space-between;
    }

    .sidebar-title {
        height: auto;
        font-size: 1.5rem;
        width: 12rem;
    }

    .menu-contents {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    
    .sidebar-menu-item {
        font-size: 1.1rem;
    }
}

/* for smaller screens */

@media screen and (max-width: 580px) {
    .sidebar {
        background: #4d95fe;
    }

    .sidebar-menu-item {
        padding: 1rem 0.2rem;
    }

    .sidebar-menu-item:first-child {
        display: none
    }

    .menu-contents {
        grid-template-columns: 1fr;
    }
}